h1 {	
	font-size: 36px;
	font-weight: medium;
	margin: 0 0 15px 0;
}

h2 {	
	font-size: 22px;
	font-weight: lighter;
	letter-spacing: 1px;
	margin: 0 0 15px 0;
}

h3 {
	font-size: 20px;
	font-weight: lighter;
	margin: 0 0 15px 0;	
}

h4 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 0 15px 0;
}

h5 {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 18px;
	margin: 0 0 15px 0;
}

h6 {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 16px;	
	margin: 0 0 15px 0;
	text-transform: uppercase;
}


p {
	font-size: 12px;
	font-weight: lighter;
	line-height: 16px;
	margin-bottom: 10px;
}

a {
	font-size: 12px;
}

ul {
	color: $blue2;
}

.yellow {
	background-color: $yellow;

	&:hover {
		background-color: lighten($yellow,10%);
	}
}
.orange {
	background-color: $orange;

	&:hover {
		background-color: lighten($orange,10%);
	}		
}
.blue {
	background-color: $blue2;

	&:hover {
		background-color: lighten($blue2,10%);
	}		
}