@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
	   color: $color;
	}
	&:-moz-placeholder {
	   color: $color;  
	}
	&::-moz-placeholder {
	   color: $color;  
	}
	&:-ms-input-placeholder {  
	   color: $color;  
	}
}

.author {
	float: right;
	font-size: 11px;
	width: 100%;

	.info {
		float: right;
		margin-top: 28px;
		text-align: right;

		span {
			display: block;
		}

		.name {
			text-transform: uppercase;
		}
	}
	.img {
		float: right;
		margin-left: 10px;
		position: relative;
		width: 64px;
		height: 64px;

		img {
			position: absolute;
			width: 100%;
			height: auto;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.title {
	float: left;
	margin: 0 0 20px 0;
	width: $total-width;
	
	.block {
		&.white {
			float: left;
			width: 25%;
			
			h3{
				color: $blue2;
				line-height: 40px;
				margin: 0;
			}
			.icon-speaker {
				float:left;
				margin: 0 10px 0 0;
			}
		}
		&.blue {
			background-color: #9ab0c1;
			color: #FFF;
			float: left;
			font-size: 10px;
			padding: 14px 0;
			text-align: center;
			text-transform: uppercase;
			width: 75%;
		}
	}
}

.breadcrumb {
	cursor: default;
	float: left;
	width: 100%;
	margin: 0 0 15px 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			color: $blue2;
			display: inline-block;
			font-size: 11px;
			font-weight: normal;
			margin: 0 20px 0 0;
			position: relative;

			&::after {
				content:'>';
				position: absolute;
				right: -15px;
			}
			&:last-child::after {
				content:'';
			}				
		}
	}
}

.pagination {
	clear: both;
	float: right;
	letter-spacing: 1px;
	margin-right: 25px;
	text-align: right;
	
	span {
		font-size: 12px;
		display: block;
		padding: 0 0 5px 0;
	}
	a {
		color: $orange !important;
		padding-right: 16px;
		position: relative;
		font-size: 12px;
		
		&::before {
			content:'';
			position: absolute;
			right: 0px;
			top: 50%;
			margin: -5px 0 0 0;
			@extend .icon-arrow-small;
		}
	}
}