.sidebar {
	float: left;
	margin-top: 75px;
	padding-left: 20px;
	position: relative;
	width: 300px;

	&::before {
		background-image: url('../img/border-sidebar.png');
		content:'';
		width: 21px;
		height: 23px;
		position: absolute;
		top: -23px;
		left: -2px;
	}
	h5 {
		color: $yellow;
		margin-bottom: 25px;
	}

	a {
		color: $blue2;
		font-size: 1em;

		&:hover {
			color: #2a6d9f;
		}
	}

	.list {
		margin-bottom: 45px;

		ul {
			margin: 0;
		}

		li {
			margin-bottom: 15px;

			a {
				font-size: 12px;
				text-decoration: underline;
			}
		}

		&.list-images {
			a {
				display: inline-block;
			}
			.img {
				position: relative;
				margin-bottom: 8px;
				width: 108px;
				height: 64px;

				img {
					position: absolute;
					width: 100%;
					height: auto;
					margin: auto;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
		}
	}

	.articles {
		li {
			border-bottom: 1px solid #b4b4b4;
			padding: 20px 0px;
			overflow: hidden;

			p {
				font-size: 12px;
			}
			
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border: none;
			}
			h6 {
				margin: 0 0 12px 0;			
			}
			.more {
				background: $blue2;
				color: #FFF;
				float: left;
				font-size: 11px;
				margin-top: 10px;
				padding: 10px 15px;

				&:hover {
					background-color: lighten($blue2,10%);
				}				
			}
		}
	}
}