.home #main {
	
	.planejar {
		clear: both;
		float: right;
		margin-top: 40px;
		
		span {
			color: $orange;
			display: block;
			float: left;			
			font-size: 20px;
			line-height: 49px;
			margin: 2px 20px 0 0;
			padding-right: 44px;
			position: relative;

			&::after {
				content:'';
				position: absolute;
				right: 0px;
				top: 0;
				@extend .icon-arrow-big-orange;
			}
		}
		.button {
			display: block;
			float: left;			
			font-size: 20px;
			padding: 15px 70px;
		}
	}

	.textos {
		border-top: 1px solid #b4b4b4;	
		clear: both;
		float: left;
		margin: 40px 0 25px 0;
		padding-top: 25px;
		width: 100%;

		h5 {
			color: $yellow;
			text-transform: uppercase;
		}

		h6 {
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0px;			
			text-transform: none;
		}

		.left {
			float: left;
			margin: 0 25px 0 0;
			width: 615px;

			.pontos_referencia {
				clear: both;
				padding-top: 20px;
			}
		}
		.right {
			border-left: 1px solid #b4b4b4;
			float: left;
			padding-left: 20px;
			width: 300px;
		}
	}

	.depoimentos {
		border-top: 1px solid #b4b4b4;		
		clear: both;
		overflow: hidden;
		padding-top: 25px;

		h5 {
			color: $yellow;
			text-transform: uppercase;
		}

		h6 {
			font-weight: bold;			
			text-transform: none;
		}

		.depoimento {
			float: left;
			width: 282px;
			padding-right: 75px;

			&:last-child {
				padding: 0;	
			}			
		}
	}
}