body {
	border-top: 15px solid $yellow;
	border-bottom: 15px solid $yellow;
	font-family: $font-family-default;
}

.wrapper {
	width: $total-width+20;
	margin: 0 auto;
	overflow: hidden;
}

#main {
	float: left;
	margin: 15px 10px 0 10px;
	width: $total-width;

	section {
		h6, p, span {
			color: $blue2;
		}
	}	
}