label {
	display: block;
	font-size: 11px;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

select {
	background: #f3f5f7;
	color: $blue;
	font-size: 12px;
	padding: 15px 10px;
	border: none;
}

input[type=submit], button, .button {
	background-color: $orange;
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 15px 10px;
	text-transform: uppercase;

	&:hover {
		background-color: lighten($orange,10%);
	}
}