/* ==========================================================================
   definindo o layout do sprite
   opções:
	vertical
	horizontal
	diagonal
	smart
   ========================================================================== */
$icon-layout: smart;

// http://stackoverflow.com/questions/7052996/compass-generate-sprites-plus-width-height-on-each-images-in-the-sprite#answer-7139117
$icon-sprite-dimensions: true;
$icon-sprite-base-class: '.icon';

/* ==========================================================================
   importa as imagens da pasta de icon
   ========================================================================== */
@import "icon/*.png";
@include all-icon-sprites;

$icon: sprite-map("icon/*.png");


.icon {
	display: block
}
